HELIUS_RPC=https://mainnet.helius-rpc.com/?api-key=YOUR_API_KEY
HELIUS_GRPC=https://laserstream-mainnet-ewr.helius-rpc.com
HELIUS_API_KEY=YOUR_API_KEY
PRIVATE_KEY=your_base64_encoded_private_key
TELEGRAM_BOT_TOKEN=your_bot_token_if_needed
TELEGRAM_CHAT_ID=your_chat_id_if_needed
